<h1>Editing space</h1>

<% form_for(@space) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :space_type %><br />
    <%= f.text_field :space_type %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :lft %><br />
    <%= f.text_field :lft %>
  </p>
  <p>
    <%= f.label :rgt %><br />
    <%= f.text_field :rgt %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @space %> |
<%= link_to 'Back', spaces_path %>
