<p>
  <b>Name:</b>
  <%=h @space.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @space.description %>
</p>

<p>
  <b>Space type:</b>
  <%=h @space.space_type %>
</p>

<p>
  <b>Parent:</b>
  <%= if not @space.parent.nil?
         link_to @space.parent.name, @space.parent 
      end%>
</p>

	<h4>Child Spaces</h4>
	  <ul>	  	
	  <%= @space.children.collect{|child| "<li>" + link_to(child.name, child) + "</li>"}%>
	  </ul>

<p>
  <b>Lft:</b>
  <%=h @space.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%=h @space.rgt %>
</p>

<hr/>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
