<p>
  <b>Name:</b>
  <%=h @space.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @space.description %>
</p>

<p>
  <b>Space type:</b>
  <%=h @space.space_type %>
</p>

<p>
  <b>Parent:</b>
  <%= if not @space.parent.nil?
         link_to @space.parent.name, @space.parent 
      end%>
</p>

<h4>Child Spaces</h4>
 <ul>	  	
 <%= @space.children.collect{|child| "<li>" + link_to(child.name, child) + "</li>"}%>
 </ul>

<h4>Offerings</h4>
 <ul>
 <% @space.offerings.each{|offering|
    item = offering.item
    if not item.nil? %>
      <li><%= link_to(item.name, offering) %>
      	 <% item.actions(offering).each { |action| %>
      	   <%= eval(action) %>
      	 <% }

      	 # the list of child_item_references should be optional, 
      	 # for example students don't want to see
      	 # all the work created by each workgroup, they only want to see
      	 # their own.  
      	 if offering.child_item_references.count > 0 %>
      	   <ul>
      	     <% offering.child_item_references.each { |item_ref| 
      	       item = item_ref.item
      	        %>      	     
               <li><%=
                  # FIXME if this is an external item then we can't directly
                  # link to it, we need to go through the item_ref
                  link_to(item.name, item) %>
                  <%= item.current_owners.collect do |owner|
                      owner.login + ", "
                    end %>
      	 		<% 
      	 		  actions = item.actions(offering)
      	 		  if !actions.nil? 
        	 		  item.actions(offering).each { |action| %>
        	   			<%= eval(action) %>
      	 		<%    }
      	 		end
      	      } %>				      	     
      	   </ul><%
      	 end      	 
      	 %>      	 
      </li>
    <% end }%>
 </ul> 

<p>
  <b>Lft:</b>
  <%=h @space.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%=h @space.rgt %>
</p>

<hr/>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
