<h1>Editing item_owner</h1>

<% form_for(@item_owner) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item_reference_id %><br />
    <%= f.text_field :item_reference_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @item_owner %> |
<%= link_to 'Back', item_owners_path %>
