<p>
  <b>Item reference:</b>
  <%=h @item_owner.item_reference_id %>
</p>

<p>
  <b>User:</b>
  <%=h @item_owner.user_id %>
</p>

<p>
  <b>Version:</b>
  <%=h @item_owner.version %>
</p>


<%= link_to 'Edit', edit_item_owner_path(@item_owner) %> |
<%= link_to 'Back', item_owners_path %>
