<h1>Listing item_services</h1>

<table>
  <tr>
    <th>Type</th>
  </tr>

<% for item_service in @item_services %>
  <tr>
    <td><%=h item_service.type %></td>
    <td><%= link_to 'Show', item_service %></td>
    <td><%= link_to 'Edit', edit_item_service_path(item_service) %></td>
    <td><%= link_to 'Destroy', item_service, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_service', new_item_service_path %>
