<h1>Listing item_references</h1>

<table>
  <tr>
    <th>Item service</th>
    <th>Owners version</th>
    <th>Item</th>
  </tr>

<% for item_reference in @item_references %>
  <tr>
    <td><%=h item_reference.item_service_id %></td>
    <td><%=h item_reference.owners_version %></td>
    <td><%=h item_reference.item_id %></td>
    <td><%= link_to 'Show', item_reference %></td>
    <td><%= link_to 'Edit', edit_item_reference_path(item_reference) %></td>
    <td><%= link_to 'Destroy', item_reference, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_reference', new_item_reference_path %>
