<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>CC Sail Portal</title>
  <%= yield :head %>
</head>
<body>
  <h1>CC Sail Portal</h1>
  <p>Welcome:</p>
  <ul>
    <li><%= link_to "Home", home_path %></li>
    <li><%= link_to "Login", login_path %></li>
    <li><%= link_to "Logout", logout_path %></li>
    <li><%= link_to "Register", register_path %></li>
  </ul>
  <% if flash[:notice] -%> 
    <div id="notice"><%= flash[:notice] %></div> 
  <% end -%>
  <%= yield %>
</body>